# Ignore environment files
/.env
/.env.example

# Ignore vendor and node_modules
/vendor
/node_modules

# Ignore compiled files
/public/storage
/public/images/products
/storage/*.log
/storage/oauth-private.key
/storage/oauth-public.key
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/database/database.sqlite

# Ignore IDE and system files
.idea
.vscode
.DS_Store
Thumbs.db
vendor/symfony/polyfill-php83/Php83.php
